<div class="tagcloud">
  {{- if and ($.Site.Taxonomies.tags) (ne (len $.Site.Taxonomies.tags) 0) -}}
    {{- $largestFontSize := 5.0 -}}
    {{- $smallestFontSize := 1.875 -}}
    {{- $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 -}}
    {{- $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages -}}
    {{- range $name, $taxonomy := $.Site.Taxonomies.tags -}}
      {{- $tagCount := len $taxonomy.Pages -}}
      {{- $weight := div (mul 1.0 (sub $tagCount $min)) (mul 1.0 (sub $max $min)) -}}
      {{- $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight)) -}}
      <a class="tagcloud-item"
         style="font-size: {{ $currentFontSize }}rem;"
         href="{{ $taxonomy.Page.RelPermalink }}">
        {{ $name }}<sup>{{ $tagCount }}</sup>
      </a>
    {{- end -}}
  {{- end -}}
</div>
